*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  background-color: rgb(255, 239, 214);
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.overlay .unpause {
  width: auto;
  height: auto;
  padding: .8rem 1.3rem;
}

.overlay__rankings {
  background-color: rgb(130, 131, 226);
  position: absolute;
  width: 30%;
  display: none;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 1rem;
}
.startGame3 {
  transform: translate(0%, 0%) !important;
  position: initial !important;
  font-size: 1.2rem !important;
  padding: .8rem 1.2rem !important;
  margin-top: 1rem;
  align-self: center;
}

.container {
  height: 94vh;
  width: 1300px;
  display: flex;
  margin: auto;
  background-color: rgb(238, 218, 255);
  user-select: none;
  margin: 2rem auto 0 auto;
}
/* Responsive maybe with 62vw?? */
.map {
  min-height: 870px;
  min-width: 870px;
  width: 870px;
  height: 870px;
  background-color: rgb(206, 233, 179);
  display: grid;
  /*transform: rotateX(360deg);*/
  grid-template-columns: 45px repeat(11, 1fr) 45px;
  grid-template-rows: 45px repeat(11, 1fr) 45px;
  position: relative;
}


.map__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(dices/monopoly.jpg);
  background-size: cover;
  z-index: 10;
  border: 2px solid #000;
}
.trade__overlay {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  z-index: 105;
  border: 2px solid #000;
}

.trade__modal {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 217, 0, 0.555);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
}

.trade__modal .currentPlayer {
  width: 35%;
  height: 100%;
  background-color: rgba(139, 0, 139, 0.205);
}
.trade__modal .offer {
  width: 30%;
  height: 100%;
  background-color: rgba(0, 25, 139, 0.336);
  margin: 0 1rem;
  font-size: 18px;
  text-align: center;
}
.trade__modal .offer h2 {
  height: 30%;
  font-size: 40px;
  color: rgb(0, 140, 255);
  -webkit-text-stroke: .1px black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.trade__modal .offer__display {
  height: 30%;
  color: rgb(0, 140, 255);
  -webkit-text-stroke: .1px rgba(0, 0, 0, 0.226);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.438), 1px -1px 0 rgba(0, 0, 0, 0.438), -1px 1px 0 rgba(0, 0, 0, 0.438), 1px 1px 0 rgba(0, 0, 0, 0.438);
}
.trade__modal .offer__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
}
.trade__modal .offer__buttons * {
  width: 50%;
  padding: .5rem 0;
  margin-bottom: .4rem;
  font-size: 18px;
  color: white;
  -webkit-text-stroke: .1px black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: rgba(47, 206, 255, 0.699);
  border: 1px solid rgb(0, 174, 255);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.trade__modal .offer__buttons *:hover {
  background-color: rgb(0, 174, 255);;
}
.trade__modal .offer__buttons button:nth-of-type(1) {
  display: none;
}
.trade__modal .offer__buttons button:nth-of-type(2) {
  display: none;
}

.trade__modal .tradePlayer {
  width: 35%;
  height: 100%;
  background-color: rgba(139, 0, 139, 0.274);
}

.map__cards {
  position: absolute;
  z-index: 100;
  transform: translate(-50%, -50%);
  width: 97%;
  padding: .1rem 0;
  clip-path: polygon(38% 0%, 62% 0%, 100% 100%, 0% 100%);
}

.map__cards-bottom {
  top: -12%;
  left: 50%;
}

.map__cards-right {
  top: 50%;
  left: 112%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 60%;
}

.map__cards-top {
  top: 112%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  width: 97%;
}

.map__cards-left {
  top: 50%;
  left: -12%;
  transform: translate(-50%, -50%) rotate(270deg);
  width: 60%;
}

.map__houses {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: .2rem;
  margin: auto;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}
.map__houses > * {
  margin-top: .5rem;
}
.map__houses > *:first-child {
  margin-top: 0rem;
}
.map__houses-top {
  transform: translate(-50%, -50%) rotate(180deg);
}
.map__houses-left {
  transform: translate(-55%, -50%) rotate(90deg);
  height: 170%;
}
.map__houses-right {
  transform: translate(-45%, -50%) rotate(-90deg);
  height: 170%;
}

.map__buildSell {
  width: 100%;
  height: 100%;
  position: absolute;
}

.housePrice {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 50px;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 100;
  color: rgb(231, 255, 249);
  font-size: 14px;
  -webkit-text-stroke: .1px black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}
.housePrice-bottom {
  top: 150%;
}
.housePrice-left {
  left: -50%;
}
.housePrice-top {
  top: -50%;
}
.housePrice-right {
  left: 150%;
}

.housePrice span {
  -webkit-text-stroke: .1px rgba(0, 0, 0, 0.24);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
  font-size: 18px;
}

.houseSide {
  position: absolute;
  height: 102%;
  width: 110%;
}

.houseSide__front {
  transform: translateZ(10px);
}
.houseSide__back {
  transform: translateZ(-10px);
}
.houseSide__left {
  transform: translateX(10px) rotateY(270deg);
}
.houseSide__right {
  transform: translateX(-10px) rotateY(270deg);
}
.houseSide__bottom {
  transform: translateY(-10px) rotateX(90deg);
}
.houseSide__roof {
  height: 120%;
  width: 120%;
  transform: translateY(6px) rotateX(90deg);
  transform-style: preserve-3d;
  position: relative;
}
.houseRoof__right {
  width: 125%;
  height: 125%;
  transform: translateZ(5px) translateY(10px) translateX(-5px) rotateX(90deg);
  clip-path: polygon(50% 0%, 0 30%, 100% 30%);
}
.houseRoof__left {
  width: 125%;
  height: 125%;
  transform: translateZ(5px) translateY(-43px) translateX(-5px) rotateX(90deg);
  clip-path: polygon(50% 0%, 0 30%, 100% 30%);
}
.houseRoof__topRight {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -20%;
  transform: translateZ(-5px) rotateY(-40deg);
}
.houseRoof__topLeft {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -20%;
  transform: translateZ(-5px) rotateY(40deg);
}

.houseChimney {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateZ(-7px);
}

.houseSide__roof div:nth-child(6) {
  transform: translateZ(-7.5px);
}
.houseSide__roof div:nth-child(7) {
  transform: translateZ(-8px);
}
.houseSide__roof div:nth-child(8) {
  transform: translateZ(-8.5px);
}
.houseSide__roof div:nth-child(9) {
  transform: translateZ(-9px);
}
.houseSide__roof div:nth-child(10) {
  transform: translateZ(-9.5px);
}
.houseSide__roof div:nth-child(6) {
  transform: translateZ(-10px);
}

.houseContainer {
  animation: rotate 16s linear infinite;
  transform-style: preserve-3d;
  width: 19px; 
  height: 19px;
  position: relative;
}
.houseContainer * {
  background-color: inherit;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  50% {
    transform: rotateY(180deg) rotateX(50deg);
  }
  to {
    transform: rotateY(360deg) rotateX(0deg);
  }
}


.map__box {
  position: relative;
}

.map__box[data-id="1"] {
  background-color: coral;
  grid-area: 1 / 1 / 3 / 3;
  position: relative;
}

.map__box[data-id="11"] {
  background-color: coral;
  grid-area: 1 / 12 / 3 / 14;
}

.map__box[data-id="21"] {
  background-color: coral;
  grid-area: 12 / 12 / 14 / 14;
}

.map__box[data-id="31"] {
  background-color: coral;
  grid-area: 12 / 1 / 14 / 3;
}

/* 
If you want players to be in the center of a property!!
.map__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

/* .map__box {
  position: relative;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.45) !important;
} */

.map__box-bottom {
  background-color: rgb(226, 186, 172);
  grid-row: 1 / 3;
}

.map__box-left {
  background-color: rgb(226, 186, 172);
  grid-column: 12 / 14;
}

.map__box-top {
  background-color: rgb(226, 186, 172);
  grid-row: 12 / 14;
}

.map__box-right[data-id="40"] {
  background-color: rgb(152, 222, 255);
  grid-area: 3 / 1 / 4 / 3;
}
.map__box-right[data-id="39"] {
  background-color: rgb(152, 222, 255);
  grid-area: 4 / 1 / 5 / 3;
}
.map__box-right[data-id="38"] {
  background-color: rgb(152, 222, 255);
  grid-area: 5 / 1 / 6 / 3;
}
.map__box-right[data-id="37"] {
  background-color: rgb(152, 222, 255);
  grid-area: 6 / 1 / 7 / 3;
}
.map__box-right[data-id="36"] {
  background-color: rgb(152, 222, 255);
  grid-area: 7 / 1 / 8 / 3;
}
.map__box-right[data-id="35"] {
  background-color: rgb(152, 222, 255);
  grid-area: 8 / 1 / 9 / 3;
}
.map__box-right[data-id="34"] {
  background-color: rgb(152, 222, 255);
  grid-area: 9 / 1 / 10 / 3;
}
.map__box-right[data-id="33"] {
  background-color: rgb(152, 222, 255);
  grid-area: 10 / 1 / 11 / 3;
}
.map__box-right[data-id="32"] {
  background-color: rgb(152, 222, 255);
  grid-area: 11 / 1 / 12 / 3;
} 

.section__stats {
  width: 31%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.stats {
  height: 870px;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(130, 131, 226);
  padding: .5rem;
  padding-top: 0;
  overflow: auto;
}
.clock {
  background-color: rgba(47, 206, 255, 0.699);
  border: 1px solid rgb(0, 174, 255);
  border-radius: 10px;
  letter-spacing: .3rem;
  font-size: 1.1rem;
  padding: .8rem;
}

.endTurn, .rent {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 100;
  padding: 1rem 1.6rem;
  background-color: rgba(255, 47, 47, 0.699);
  border: 1px solid rgb(255, 30, 0);
}
.endTurn:hover,
.rent:hover {
  background-color: rgb(255, 30, 0);
}

.rollDice {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 100;
  padding: 1rem 1.8rem;
  background-color: rgba(47, 206, 255, 0.699);
  border: 1px solid rgb(0, 174, 255);
}
.rollDice:hover {
  background-color: rgb(0, 174, 255);
}

.qOption {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 100;
  padding: 1rem 1.8rem;
  background-color: rgba(47, 206, 255, 0.699);
  border: 1px solid rgb(0, 174, 255);
}
.aBitLeft {
  left: 35%;
  background-color: rgba(47, 255, 82, 0.699);
  border: 1px solid rgb(0, 255, 0);
}
.aBitLeft:hover {
  background-color: rgb(0, 255, 0);
}
.aBitRight {
  left: 65%;
}
.aBitRight:hover {
  background-color: rgb(0, 174, 255);
}

.aBitLeftAuction {
  background-color: rgba(47, 206, 255, 0.699);
  border: 1px solid rgb(0, 174, 255);
}
.aBitLeftAuction:hover {
  background-color: rgb(0, 174, 255);
}
.aBitRightAuction {
  background-color: rgba(255, 47, 47, 0.699);
  border: 1px solid rgb(255, 30, 0);
}
.aBitRightAuction:hover {
  background-color: rgb(255, 30, 0);
}

.rollDice1 {
  position: absolute;
  top: 40%;
  left: 43%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  display: none;
  z-index: 100;
}
.rollDice2 {
  position: absolute;
  top: 40%;
  left: 57%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  display: none;
  z-index: 100;
}
.playerNumber {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 1rem;
  display: none;
  z-index: 100;
  color: rgb(231, 255, 249);
  font-size: 30px;
  -webkit-text-stroke: .1px black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  word-break: break-word;
}

.card {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 1rem;
  display: none;
  z-index: 100;
  color: rgb(231, 255, 249);
  font-size: 30px;
  -webkit-text-stroke: .1px black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  word-break: break-word;
}

.map__moneyPot {
  top: 45%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 30%;
  height: 30%;
  z-index: 20;
}

.map__pot {
  display: block;
  font-size: 14px;
  word-break: normal;
  color: lightgreen;
  -webkit-text-stroke: .1px darkgreen;
  text-shadow: -1px -1px 0 darkgreen, 1px -1px 0 darkgreen, -1px 1px 0 darkgreen, 1px 1px 0 darkgreen;
}
.map__addPotBudget {
   display: none;
}

.startGame {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.6rem;
  z-index: 100;
  background-color: rgba(255, 255, 47, 0.699);
  border: 1px solid yellow;
}
.startGame:hover {
  background-color: rgba(255, 255, 0, 0.938);
}
.cardTaken {
  display: none;
}

.map__text {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 1rem 1.6rem;
  z-index: 100;
  background-color: rgba(245, 131, 0, 0.753);
  border: 1px solid orange;
  display: none;
}

.map__modal {
  z-index: 110;
  background-color: rgba(255, 255, 47, 0.699);
  border-radius: 10px;
  font-size: 12px;
  font-weight: 300;
  cursor: default;
}

.map__mode {
  width: 46%;
  cursor: pointer;
  display: inline-block;
  margin: 2rem 2%;
  padding: .15rem;
  background-color: rgba(172, 172, 172, 0.151);
  border-radius: 10px;
}
.map__mode:hover {
  background-color:rgba(0, 174, 255, 0.308);
}
.map__mode * {font-size: 1.1rem;}
.map__mode li {
  position: relative;
  left: 10px;
}
.map__mode li span {
  position: relative;
  left: -7px;
}
.map__mode-number {
  outline: none;
  width: 70px;
  height: 25px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.map__modal img {
  border-radius: 10px;
  width: 100%;
  height: 170px;
}

.map__modal .player__name {
  font-size: 18px;
  padding-left: .5rem;
}

.map__modal h2 {
  font-weight: inherit;
}

.map__box2 {
  margin-top: .1rem;
  background-color: #ffa4d1;
  color: rgb(31, 31, 31);
}
.map__box2:hover {
  background-color: #82cdff;
}

.index100 {
  z-index: 100;
}

.btn {
  outline: none;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: .05s;
  -webkit-text-stroke: .1px black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.menu {
  display: flex;
  width: fit-content;
  height: auto;
  margin: .4rem auto;
  position: relative;
}

.menu__btn {
  outline: none;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 44px;
  transition: .05s;
  margin-right: .4rem;
  padding: .5rem 1rem;
  -webkit-text-stroke: .1px black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: rgba(47, 206, 255, 0.699);
  border: 1px solid rgb(0, 174, 255);
}
.menu__btn:hover {
  background-color: rgb(0, 174, 255);
}

.menu__exp {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(22, 117, 161, 0.856);
  border-radius: 10px;
  width: 100px;
  height: 44px;
  z-index: 120;
  transition: all .2s linear;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
}
.menu__expClick {
  visibility: visible;
  width: 210px;
  height: 210px;  
/*   -webkit-transform: rotateX(43200deg) rotateY(14400deg);
  -moz-transform: rotateX(43200deg) rotateY(14400deg);
  -ms-transform: rotateX(43200deg) rotateY(14400deg);
  -o-transform: rotateX(43200deg) rotateY(14400deg);
  transform: rotateX(43200deg) rotateY(14400deg);  */
}

.menu__exp__btn {
  outline: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  width: 90%;
  margin-top: .6rem;
  padding: .5rem 1rem;
  -webkit-text-stroke: .1px black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: rgba(47, 206, 255, 0.699);
  border: 1px solid rgb(0, 174, 255);
  display: none;
}
.menu__exp__btnClick {
  display: block;
}
.menu__exp__btn:hover {
  background-color: rgb(0, 174, 255);
}

.map__done:hover {
  background-color: rgb(226, 226, 226);
}

.player1::after {
  content: "\262F";
  font-size: 47px;

  color: #EB4D4D;
  top: -4px;
  right: 4px;
  font-style: normal;
}

.player2::after {
  content: "\270C";
  font-size: 47px;

  
  top: -4px;
  right: 4px;
  font-style: normal;
}

.map__trade:hover {
  background-color: rgb(211, 211, 211);
}